*.ppu
*.o
*.or
*.compiled
*.png
*.mcmeta
*.lps
..gitignore.swp
.directory
*.txt
bin/
source/Single-mode/SingleMode
*backup*
source/Single-mode/ppas.sh
source/Single-mode/lib
worlds/
source/Crypto/Ciastka brownie Decoded.odt
source/Crypto/Ciastka brownie.odt
source/Crypto/Coded.bin
source/Crypto/Demo
source/Crypto/Demo.lpi
source/Crypto/Demo.lpr
